.feed {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 32px;
}

.posts {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 900px) {
    .feed {
        padding: 0 8px;
    }
}